node_modules
# Keep environment variables out of version control
.env

# go
/backend/auth-service/db/database.go
/backend/auth-service/db/database.go
/backend/auth-service/db/database.go
/backend/auth-service/db/database.go

# db
/db/scripts/init.sql
/db/.env
/db/prisma/migrations
/db/prisma/schema.prisma
/db/prisma/devsync.db